@model IS220_WebApplication.Models.ViewModel.CombinedViewModel
@{
    ViewData["Title"] = "User Storage";

}

<head>
    <link rel="stylesheet" href="~/static/css/userStorage.css">
</head>

<div class="container my-4">
    <div class="opt card overflow-hidden">
        <div class="row no-gutters">
            <div class="col-2">
                <div class="list-group list-group-flush account-settings-links rounded">
                    <a class="list-group-item list-group-item-action active fs-6 py-3" data-toggle="list"
                        href="#account-order">
                        Purchased game
                    </a>
                    <a class="list-group-item list-group-item-action fs-6 py-3" data-toggle="list"
                        href="#account-transaction">
                        Transactions History
                    </a>
                </div>
            </div>
            <div class="col-10">
                <div class="tab-content">
                    <div class="container tab-pane fade active show" id="account-order">
                            <div class="container">
                                <div class="row">
                        @foreach (var game in @Model.StorageViewModel.purchasedGame)
                        {

                                    <div class="col-3">
                                        <a class="card" asp-controller="Storage" asp-action="DownloadGame" asp-route-url='@game.GetType().GetProperty("DownloadLink").GetValue(@game)'>
                                            <img src='~/images/game/@game.GetType().GetProperty("ImgPath").GetValue(@game)'
                                                alt="" class="card-img">
                                        </a>
                                    </div>
                        }
                                </div>
                            </div>
                    </div>
                        <div class="tab-pane fade" id="account-transaction">
                            <table class="table align-middle table-dark table-hover table-striped table-rounded">
                                <thead>
                                    <tr>
                                        <th scope="col" class="py-4">Time</th>
                                        <th scope="col" class="py-4">OrderNo</th>
                                        <th scope="col" class="py-4">Status</th>
                                        <th scope="col" class="py-4">Total</th>
                                    </tr>
                                </thead>

                                <tbody>
                                @foreach(var order in @Model.StorageViewModel.order) {
                                    <tr>
                                        <td class="py-3">@order.GetType().GetProperty("date").GetValue(@order)</td>
                                        <td class="py-3">@order.GetType().GetProperty("id").GetValue(@order)</td>
                                        <td class="py-3">@order.GetType().GetProperty("status").GetValue(@order)</td>
                                        <td class="text-success py-3">@order.GetType().GetProperty("total").GetValue(@order)</td>
                                    </tr>
                                }
                                    <!-- <tr>
                                        <td class="py-3">21/11/2023 12:00:00</td>
                                        <td class="py-3">1212121</td>
                                        <td class="py-3">Nạp NETCoin qua Momo Payment.</td>
                                        <td class="text-success py-3">+100.000đ</td>
                                    </tr>
                                    <tr>
                                        <td class="py-3">21/11/2023 12:00:00</td>
                                        <td class="py-3">121211221</td>
                                        <td class="py-3">God of war</td>
                                        <td class="text-danger py-3">-100.000đ</td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/static/js/userStorage.js"></script>