@model IS220_WebApplication.Models.ViewModel.CombinedViewModel
@{
    ViewData["Title"] = Model.Game!.Title;
}


<link rel="stylesheet" href="~/static/css/downloadPage.css">

<h4 class="fs-4 mb-4 ps-3">@Model.Game.Title</h4>

<!-------------start SCREENSHOT --------------->
<div class="screenshots container">

    <div class="screenshots-content">
        <img src="~/images/game/@Model.Game.ImgPath" alt="">
        @* <img src="~/static/img/screenshots2.jpg" alt="">
        <img src="~/static/img/screenshots3.jpg" alt="">
        <img src="~/static/img/trending6.jpg" alt="">
        <img src="~/static/img/trending7.png" alt="">
        <img src="~/static/img/trending8.png" alt=""> *@
    </div>
</div>
<!-------------end SCREENSHOT --------------->

<!-------------start ABOUT --------------->
<div class="about container">
    <h2>Description</h2>
    <div class="d-flex">
        <div class="about-info">
            <p>@Model.Game.Description</p>
        </div>

        <table class="about-table table text-light table-dark table-striped align-middle">
            <tbody>
                <tr>
                    <td class="py-3">Name:</td>
                    <td class="py-3">@Model.Game.Title</td>
                </tr>
                <tr>
                    <td class="py-3">Release Date</td>
                    <td class="py-3">@Model.Game.ReleaseDate.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td class="py-3">Developer:</td>
                    <td class="py-3">
                        <a asp-controller="search" asp-action="developer"
                            asp-route-developer="@Model.Game.DeveloperNavigation.Name.ToUrlFriendly()">@Model.Game.DeveloperNavigation.Name</a>
                    </td>
                </tr>
                <tr>
                    <td class="py-3">Publisher:</td>
                    <td class="py-3">
                        <a asp-controller="search" asp-action="publisher"
                            asp-route-publisher="@Model.Game.PublisherNavigation.Name.ToUrlFriendly()">@Model.Game.PublisherNavigation.Name</a>
                    </td>
                </tr>
                <tr>
                    <td class="py-3">Category:</td>
                    <td class="py-3">
                        @foreach (var category in Model.Game.Categories)
                        {
                            @Html.ActionLink(category.Name, "category", "search", new
                                {
                                    category =
                                     category.Name.ToUrlFriendly()
                                }, null)
                            if (category.Equals(Model.Game.Categories.Last()))
                            {
                                continue;
                            }
                            @:,
                        }
                    </td>
                </tr>
                <tr>
                    <td class="py-3">Status</td>
                    @if (Model.Game.Status == "active")
                    {
                        <td class="py-3 text-success">Available</td>
                    }
                    else
                    {
                        <td class="py-3 text-danger">Unavailable</td>
                    }
                </tr>
                <tr>
                    <td class="py-3">Type:</td>
                    <td class="py-3">
                        @if (@Model.Game.Type == GameType.Software)
                        {
                            @if (Model.StorageViewModel.purchasedGame.Any(x => x.GetType().GetProperty("Title")?.GetValue(x)
                           == Model.Game?.Title))
                            {
                                <h6>


                                </h6>
                                <input type="radio" class="btn-check" name="game-type" value="@GameType.Software"
                                    id="gametype-software" autocomplete="off" disabled>
                                <label class="btn btn-outline-primary" for="gametype-software">@GameType.Get(GameType.Software)
                                    <span class="badge rounded-pill bg-success" style="font-size: 8px;">Owned</span></label>
                            }
                            else
                            {

                                <input type="radio" class="btn-check" name="game-type" value="@GameType.Software"
                                    id="gametype-software" autocomplete="off">
                                <label class="btn btn-outline-primary"
                                    for="gametype-software">@GameType.Get(GameType.Software)</label>
                            }
                            <input type="radio" class="btn-check" name="game-type" value="@GameType.Disc" id="gametype-disc"
                                autocomplete="off">
                            <label class="btn btn-outline-primary" for="gametype-disc">@GameType.Get(GameType.Disc)</label>
                        }
                        else if (@Model.Game.Type == GameType.Disc)
                        {
                            <input type="radio" class="btn-check" name="game-type" value="@GameType.Software"
                                id="gimetype-software" ad="gametype-software" autocomplete="off" disabled>
                            <label class="btn btn-outline-primary"
                                for="gametype-software">@GameType.Get(GameType.Software)</label>
                            <input type="radio" class="btn-check" name="game-type" value="@GameType.Disc" id="gametype-disc"
                                autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="gametype-disc">@GameType.Get(GameType.Disc)</label>
                        }
                        else if (@Model.Game.Type == GameType.Both)
                        {
                            @if (Model.StorageViewModel.purchasedGame.Any(x => x.GetType().GetProperty("Title")?.GetValue(x)
                           == Model.Game?.Title))
                            {
                                <h6>


                                </h6>
                                <input type="radio" class="btn-check" name="game-type" value="@GameType.Software"
                                    id="gametype-software" autocomplete="off" disabled>
                                <label class="btn btn-outline-primary" for="gametype-software">@GameType.Get(GameType.Software)
                                    <span class="badge rounded-pill bg-success" style="font-size: 8px;">Owned</span></label>
                            }
                            else
                            {

                                <input type="radio" class="btn-check" name="game-type" value="@GameType.Software"
                                    id="gametype-software" autocomplete="off">
                                <label class="btn btn-outline-primary"
                                    for="gametype-software">@GameType.Get(GameType.Software)</label>
                            }
                            <input type="radio" class="btn-check" name="game-type" value="@GameType.Disc" id="gametype-disc"
                                autocomplete="off">
                            <label class="btn btn-outline-primary" for="gametype-disc">@GameType.Get(GameType.Disc)</label>
                        }
                    </td>
                </tr>
                @if (@Model.Game.Type == GameType.Disc)
                {
                    <tr class="game-quantity fade show">
                        <td class="py-3">Quantity:</td>
                        <td class="py-3">
                            <div class="quantity-input d-flex">
                                <button class="btn btn-icon text-white" game-action="change-quantity-minus" game->-</button>
                                <input type="text" value="1">
                                <button class="btn btn-icon text-white" game-action="change-quantity-plus">+</button>
                            </div>
                            <div class="mt-1 ms-2 d-flex text-danger quantity-left-alert fade">
                                <span class="quantity-left-alert-text"></span>
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="game-quantity fade">
                        <td class="py-3">Quantity:</td>
                        <td class="py-3">
                            <div class="quantity-input d-flex">
                                <button class="btn btn-icon text-white" game-action="change-quantity-minus" game->-</button>
                                <input type="text" value="1">
                                <button class="btn btn-icon text-white" game-action="change-quantity-plus">+</button>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="d-none">
            <input type="text" value="@Model.Game.Id" id="gameid">
            <input type="text" value="@Model.Game.Stock" id="disc-stock">
        </div>

    </div>


    <div class="d-flex justify-content-end price">
        <p class="fs-3 text-primary">@Model.Game.Price.ToString("N0") đ</p>
    </div>
    <div class="d-flex justify-content-end">
        <div class="button-container">
            @if ((Model.StorageViewModel.purchasedGame.Any(x => x.GetType().GetProperty("Title")?.GetValue(x)
            == Model.Game?.Title) && Model.Game.Type == 0) || (Model.Game.Type == 1 && Model.Game.Stock == 0) ||
            (Model.StorageViewModel.purchasedGame.Any(x => x.GetType().GetProperty("Title")?.GetValue(x)
            == Model.Game?.Title && Model.Game.Type == 2 && Model.Game.Stock == 0)))
            {
                @* <span class="badge rounded-pill bg-success" style="font-size: 15px;">Owned</span> *@
            }
            else
            {

                <div class="d-flex more-btn mb-4">
                    <button class="btn btn-primary buy-now" game-action="buy-now">Buy now</button>
                    <button class="ms-3 btn btn-primary" game-action="add-cart">Add to cart</button>
                </div>
            }


        </div>
    </div>

</div>
<!-------------end ABOUT --------------->

<!-------------start DOWNLOAD LINK --------------->
<div class="download">
</div>
<!-------------end DOWNLOAD LINK --------------->


<!----------- start SCRIPT -------------->
<script src="~/static/js/gameDetail.js"></script>
