@model IS220_WebApplication.Models.ViewModel.CombinedViewModel
@{
    ViewData["Title"] = "Checkout";
}
<link rel="stylesheet" href="~/static/css/main.css">
<link rel="stylesheet" href="~/static/css/checkout.css">
<section class="h-100 my-5">
    <div class="container h-100 py-3">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card shadow-2-strong mb-5 mb-lg-0 bg-dark text-white"
                    style="border-radius: 16px; background-color: white">
                    <div class="card-body m-3 p-3">
                        @* @if ($address != null && $nonDefaultAddress != null) *@
                        @if(Model.DefaultAddress == null){
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center">


                                    <h6 class="mb-3 normal-text fs-2 mt-3 me-3">My addresses</h6>
                                    <i data-bs-toggle="modal" data-bs-target="#createAddress"
                                        class="bx bxs-map fs-3 createAddress"></i>
                                </div>
                        }
                        @if (@Model.DefaultAddress != null)
                        {
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center">


                                    <h6 class="mb-3 normal-text fs-2 mt-3 me-3">My addresses</h6>
                                    <i data-bs-toggle="modal" data-bs-target="#createAddress"
                                        class="bx bxs-map fs-3 createAddress"></i>
                                </div>
                                <div class="col-6 d-flex align-items-stretch">
                                    <div class="card addresses-item mb-4 shadow-sm w-100"
                                        address="@Model.DefaultAddress.Id">
                                        <div class="default-address p-3">
                                            <div class="media">
                                                <div class="mr-3"><i class="icofont-briefcase icofont-3x"></i>
                                                </div>
                                                <div class="media-body">
                                                    <div class="row">
                                                        <div class="col-10">
                                                            <p class="fw-bolder text-dark">Default</p>

                                                        </div>
                                                        <div class="col-2 text-end">
                                                            @* <i class='bx bxs-edit-alt text-dark'></i> *@
                                                        </div>
                                                    </div>
                                                    <p class="mb-1 text-dark">@Model.DefaultAddress.Receiver,
                                                        @Model.DefaultAddress.Phone</p>
                                                    <p class="mb-1 text-dark">@Model.DefaultAddress.Street,
                                                        @Model.DefaultAddress.Ward
                                                    </p>
                                                    <p class="text-dark">
                                                        @Model.DefaultAddress.City, @Model.DefaultAddress.State
                                                    </p>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-6 d-flex align-items-stretch" data-bs-toggle="modal"
                                    data-bs-target="#more-addresses">
                                    <div class="bg-white card addresses-item mb-4 shadow-sm w-100">
                                        <div
                                            class="other-address p-3 d-flex justify-content-center align-items-center h-100">
                                            <div class="media">
                                                <div class="mr-3"><i class="icofont-briefcase icofont-3x"></i>
                                                </div>
                                                <div class="media-body d-flex flex-column align-items-center">
                                                    <p class="other-address-quantity m-2 text-dark">
                                                        @Model.NonDefaultAddresses.Count address more
                                                    </p>

                                                    <p>
                                                        <i class='bx bxs-info-circle' style='color:#0f0e0e'></i>
                                                    </p>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="more-addresses" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">More</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body position-relative other-address-information">
                                            <div class="row gutters">

                                                    @foreach (var address in @Model.NonDefaultAddresses){

                                                <div class="col-6 d-flex align-items-stretch">
                                                <div class="card addresses-item mb-4 shadow-sm w-100 other-address-item"
                                                address="@address.Id" type="modal-item">
                                                <div class="default-address p-3">
                                                <div class="media">
                                                <div class="mr-3"><i
                                                class="icofont-briefcase icofont-3x"></i>
                                                </div>
                                                <div class="media-body">
                                                <div class="row">
                                                <div class="col-10">
                                                </div>
                                                <div class="col-2 text-end">

                                                </div>
                                                </div>
                                                <p class="mb-1 text-dark">
                                                @address.Receiver,
                                                @address.Phone</p>
                                                <p class="mb-1 text-dark">
                                                @address.Street,
                                                @address.Ward</p>
                                                <p class="text-dark">
                                                @address.City,
                                                @address.State
                                                </p>

                                                </div>
                                                </div>
                                                </div>

                                                </div>
                                                </div>
                                                    }
                                                
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        }

                        <div class="modal fade" id="createAddress" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Create new address
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <form id="form-createNewAddress">
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="row d-flex">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" id="new-receiver" class="form-control" placeholder="inputhere"
                                        asp-for="CreateAddress!.Receiver">
                                    <label>Receiver</label>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="phone" id="new-phone" class="form-control" placeholder="inputhere"
                                        asp-for="CreateAddress!.Phone">
                                    <label>Phone number</label>

                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-12">

                                <div class="form-floating mb-3">
                                    <input id="new-street" class="form-control" placeholder="inputhere"
                                        asp-for="CreateAddress!.Street">
                                    <label>Đường</label>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex address-input">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" address-type="province" class="form-control dropdown-toggle"
                                        data-bs-toggle="dropdown" placeholder="inputhere"
                                        asp-for="CreateAddress!.State">
                                    <label>Tỉnh/Thành</label>
                                    <ul class="dropdown-menu" id="province_list"></ul>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" address-type="district" class="form-control dropdown-toggle"
                                        data-bs-toggle="dropdown" placeholder="inputhere" asp-for="CreateAddress!.City">
                                    <label>Quận/Huyện</label>
                                    <ul class="dropdown-menu" id="district_list"></ul>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" address-type="ward" class="form-control dropdown-toggle"
                                        data-bs-toggle="dropdown" placeholder="inputhere" asp-for="CreateAddress!.Ward">
                                    <label>Phường/Xã</label>
                                    <ul class="dropdown-menu" id="ward_list"></ul>
                                </div>

                            </div>
                        </div>

                        <div class="modal-footer">
                            <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                            <a class="btn btn-primary btn-create-address">Let's go</a>
                        </div>

                    </div>
                </form>
                                </div>
                            </div>
                            <div class="row gutters mt-4">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="text-right">
                                        @* {{-- <button type="button" id="submit" name="submit"
                                            class="btn btn-secondary">Cancel</button> --}} *@
                                        <button type="button" id="submit" name="submit"
                                            class="btn btn-primary update-information">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                 


                    </div>
                </div>
                <div class="card shadow-2-strong mt-4 mb-4 bg-dark text-white"
                    style="border-radius: 16px; background-color :white">

                    <div class="table-responsive mt-5 mb-5 p-5">
                        <table class="table text-white">
                            <h3 class="normal-text mb-3">
                                Shopping cart
                            </h3>
                            @* <thead>
                                <tr>
                                    <th scope="col" class="h5">Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead> *@
                            <tbody class="items-in-cart">
                                @foreach (var item in Model.CheckoutItems)
                                {
                                    
                                    <div class="cart-item d-flex justify-content-between align-items-center">
                                        
                                        <div class="col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center">
                                            <img src='~/images/game/@item.Image' class="img-fluid rounded-3" alt="">
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-xl-6 px-2">
                                            <div>
                                                @if(@item.Type == 1){
                                                <h6><span class="badge bg-secondary">Disc</span> @item.Title</h6>

                                                }
                                                else{
                                                <h6><span class="badge bg-secondary">Software</span> @item.Title</h6>

                                                }
                                            </div>
                                            <div class="quantity-input mt-2">
                                                @* <button class="btn btn-icon text-white"
                                                    game-action="change-quantity-minus">-</button> *@
                                                    <span>
                                                        Quantity: @item.Quantity
                                                    </span>
                                                @* <span type="text" game-input="quantity" value="@item.Quantity"> *@
                                                @* <button class="btn btn-icon text-white"
                                                    game-action="change-quantity-plus">+</button> *@
                                            </div>
                                        </div>
                                       
                                        <div class="col-md-3 col-lg-1 col-xl-2 d-flex justify-content-center">
                                            <h6 class="mb-0">@String.Format(new System.Globalization.CultureInfo(name:
                                            "vi-VN"), "{0:C}", @item.Price)</h6>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 ms-3">
                                           
                                        </div>
                                    </div>
                                    <hr class="my-4">
                                }
                            </tbody>
                            <tfoot>
                                <div class="row justify-content-end">
                                    <div class="col-md-1">
                                        Total:
                                    </div>
                                    <div class="col-md-3 d-flex justify-content-center total-price">
                                        <h2>test</h2>
                                    </div>
                                    <div class="col-md-1">
                                        
                                    </div>
                                </div>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="card shadow-2-strong mb-5 mb-lg-0 bg-dark text-white"
                    style="border-radius: 16px; background-color: white">
                    <div class="card-body m-3 p-3">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center">


                                <h6 class="mb-3 normal-text fs-2 mt-3 me-3">Payment method</h6>

                            </div>
                            <div class="col-4 d-flex align-items-stretch">
                                <div class="card payment-method-item mb-4 shadow-sm w-100" id="1">
                                    <div
                                        class="payment-method p-3 d-flex justify-content-center align-items-center h-100">
                                        <div class="media">
                                            <div class="mr-3"><i class="icofont-briefcase icofont-3x"></i>
                                            </div>
                                            <div class="media-body d-flex flex-column align-items-center">
                                                <p class="method-name m-2 text-dark">Banking</p>

                                                <p>
                                                    <i class='bx bxs-bank fs-3 text-dark'></i>
                                                </p>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-4 d-flex align-items-stretch">
                                <div class="card payment-method-item mb-4 shadow-sm w-100" id="2">
                                    <div
                                        class="payment-method p-3 d-flex justify-content-center align-items-center h-100">
                                        <div class="media">
                                            <div class="mr-3"><i class="icofont-briefcase icofont-3x"></i>
                                            </div>
                                            <div class="media-body d-flex flex-column align-items-center">
                                                <p class="method-name m-2 text-dark">Cash on delivery (COD)</p>

                                                <p>
                                                    <i class='bx bxs-package fs-3 text-dark'></i>
                                                </p>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-4 d-flex align-items-stretch">
                                <div class="card payment-method-item mb-4 shadow-sm w-100" id="3">
                                    <div
                                        class="payment-method p-3 d-flex justify-content-center align-items-center h-100">
                                        <div class="media">
                                            <div class="mr-3"><i class="icofont-briefcase icofont-3x"></i>
                                            </div>
                                            <div class="media-body d-flex flex-column align-items-center">
                                                <p class="method-name m-2 text-dark">Pay at our store</p>

                                                <p>
                                                    <i class='bx bxs-store-alt fs-3 text-dark'></i>
                                                </p>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-end">
                            <div class="col-3 d-flex justify-content-around p-0">

                                <button class="btn btn-primary" onclick="window.history.back()">Continue
                                    shopping</button>
                                <button class="ms-3 btn btn-primary checkout">Complete</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="~/static/js/checkout.js"></script>
    @* Import Jquert *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $('.btn-create-address').click(() => {
        $.ajax({
            url: '/profile/createNewAddress',
            type: 'POST',
            data: $('#form-createNewAddress').serialize(),
            encode: true,
            success: function (result) {
                if (result.ok) {
                    notyf.success(result.message);
                    $('#createAddress').modal('hide');
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                } else {
                    notyf.error(result.message);
                }
            }
        })
    })
        $('.checkout').click(function () {
            var address = $('.addresses-item.checked').attr('address')
            var paymentMethod = $('.payment-method-item.checked').attr('id')
            $.ajax({
                url: '/order',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    CheckoutViewModel:{
                    SelectedAddress: address,
                    Paymentmethod: paymentMethod,
                }}),
                success: function (data) {
                    console.log(data)
                    window.location.href = `/order/${data.orderId}`
                },
                error: function (data) {
                    notyf.error(`You must choose your payment method and address`)
                    console.log(data)
                }
            });
        })
        
        var modelData = @Html.Raw(Json.Serialize(Model));
        console.log(modelData);
        var totalMoney = 0;
        modelData.checkoutItems.forEach(el=>{
            totalMoney += el.price*el.quantity;
        })
        var totalMoneyFormatted = totalMoney.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
        $('.total-price h2').html(totalMoneyFormatted); 
        
        document.querySelector('.cart-button').classList.add('d-none')
        document.querySelectorAll('.card.payment-method-item').forEach(item => {
            item.addEventListener('click', () => {
                SelectMethod(item.getAttribute('id'))
            })
        })
        document.querySelectorAll('.card.addresses-item').forEach(item => {
            item.addEventListener('click', () => {
                SelectAddress(item.getAttribute('address'))
            })
        })
        function SelectMethod(id) {
            let items = document.querySelectorAll(".card.payment-method-item");
            items.forEach((item) => {
                items.forEach((item) => {
                    item.classList.remove("checked");
                });
            });

            let item = $(`.payment-method-item[id='${id}']`);
            let check = item.find('.col-2.text-end')
            check.html(`<i class='bx bxs-check-circle text-dark' ></i>`)
            item.addClass("checked");
        }
        function SelectAddress(id) {
            let items = document.querySelectorAll(".card.addresses-item");
            items.forEach((item) => {
                let check = item.querySelector('.col-2.text-end')
                item.classList.remove("checked");
                if (check) {
                    check.innerHTML = ''
                }

            });

            if ($(`.addresses-item[address='${id}']`).attr('type') == 'modal-item') {
                let item = $(`.addresses-item[address='${id}']`);
                let modalitem = $(`.addresses-item[address='${id}'][type='modal-item']`);
                let check = item.find('.col-2.text-end')
                check.html(`<i class='bx bxs-check-circle text-dark' ></i>`)
                item.addClass("checked");
                let otherAddress = $('.other-address')
                otherAddress.parent().removeClass('bg-white')
                otherAddress.parent().addClass('checked')
                otherAddress.parent().attr('address', id)
                var content = modalitem.find('.media-body')
                otherAddress.find('.media-body')[0].innerHTML = content[0].innerHTML

            } else {
                var nonDefaultAddressesCount = @Model.NonDefaultAddresses.Count;
                let item = $(`.addresses-item[address='${id}']`);
                let modalitem = $(`.addresses-item[address='${id}'][type='modal-item']`);
                let check = item.find('.col-2.text-end')
                check.html(`<i class='bx bxs-check-circle text-dark' ></i>`)
                item.addClass("checked");
                let otherAddress = $('.other-address')
                otherAddress.parent().addClass('bg-white')
                otherAddress.find('.media-body')[0].innerHTML = `
                                                                <p class="other-address-quantity m-2 text-dark">${nonDefaultAddressesCount} address more</p>
                                                                <p>
                                                                    <i class='bx bxs-info-circle' style='color:#0f0e0e'></i>
                                                                </p>
                `

            }
        }
    </script>
</section>
