@model IS220_WebApplication.Models.ViewModel.CombinedViewModel
@{
    ViewData["Title"] = "Checkout";
    decimal totalPrice = 0;

    foreach (var item in Model.CheckoutItems)
    {
        if (!item.Quantity.HasValue)
        {
            continue;
        }

        var itemTotal = item.Price * item.Quantity.Value;
        totalPrice += itemTotal;
    }
    
    var totalPriceFormatted = totalPrice.ToString("C", new System.Globalization.CultureInfo("vi-VN"));
}
<link rel="stylesheet" href="~/static/css/main.css">
<link rel="stylesheet" href="~/static/css/checkout.css">
<section class="h-100">
<div class="container h-100 py-3">
<div class="row d-flex justify-content-center align-items-center h-100">
<div class="col">

<div class="card shadow-2-strong mb-5 mb-lg-0 bg-dark text-white"
     style="border-radius: 16px; background-color: white">
<div class="card-body m-3 p-3">
@* @if ($address != null && $nonDefaultAddress != null) *@
@if (Model.DefaultAddress != null)
{
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center">


            <h6 class="mb-3 normal-text fs-2 mt-3 me-3">My addresses</h6>
            <i data-bs-toggle="modal" data-bs-target="#createAddress"
               class="bx bxs-map fs-3 createAddress">
            </i>
        </div>
        <div class="col-6 d-flex align-items-stretch">
            <div class="card addresses-item mb-4 shadow-sm w-100"
                 address="@Model.DefaultAddress.Id">
                <div class="default-address p-3">
                    <div class="media">
                        <div class="mr-3">
                            <i class="icofont-briefcase icofont-3x"></i>
                        </div>
                        <div class="media-body">
                            <div class="row">
                                <div class="col-10">
                                    <p class="fw-bolder text-dark">Default</p>

                                </div>
                                <div class="col-2 text-end">
                                    @* <i class='bx bxs-edit-alt text-dark'></i> *@
                                </div>
                            </div>
                            <p class="mb-1 text-dark">
                                @Model.DefaultAddress.Receiver,
                                @Model.DefaultAddress.Phone
                            </p>
                            <p class="mb-1 text-dark">
                                @Model.DefaultAddress.Street,
                                @Model.DefaultAddress.Ward
                            </p>
                            <p class="text-dark">
                                @Model.DefaultAddress.City, @Model.DefaultAddress.State
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-6 d-flex align-items-stretch" data-bs-toggle="modal"
             data-bs-target="#more-addresses">
            <div class="bg-white card addresses-item mb-4 shadow-sm w-100">
                <div
                    class="other-address p-3 d-flex justify-content-center align-items-center h-100">
                    <div class="media">
                        <div class="mr-3">
                            <i class="icofont-briefcase icofont-3x"></i>
                        </div>
                        <div class="media-body d-flex flex-column align-items-center">
                            <p class="other-address-quantity m-2 text-dark">
                                @Model.NonDefaultAddresses.Count address more
                            </p>

                            <p>
                                <i class='bx bxs-info-circle' style='color:#0f0e0e'></i>
                            </p>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="more-addresses" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">More</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body position-relative other-address-information">
                    <div class="row gutters">

                        @foreach (var address in Model.NonDefaultAddresses)
                        {
                            <div class="col-6 d-flex align-items-stretch">
                                <div class="card addresses-item mb-4 shadow-sm w-100 other-address-item"
                                     address="@address.Id" type="modal-item">
                                    <div class="default-address p-3">
                                        <div class="media">
                                            <div class="mr-3">
                                                <i
                                                    class="icofont-briefcase icofont-3x">
                                                </i>
                                            </div>
                                            <div class="media-body">
                                                <div class="row">
                                                    <div class="col-10">
                                                    </div>
                                                    <div class="col-2 text-end">

                                                    </div>
                                                </div>
                                                <p class="mb-1 text-dark">
                                                    @address.Receiver,
                                                    @address.Phone
                                                </p>
                                                <p class="mb-1 text-dark">
                                                    @address.Street,
                                                    @address.Ward
                                                </p>
                                                <p class="text-dark">
                                                    @address.City,
                                                    @address.State
                                                </p>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }

                    </div>

                </div>
            </div>
        </div>

    </div>
}

<div class="modal fade" id="createAddress" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="exampleModalLabel">
                    Create new address
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mt-3 mb-2 normal-text fs-2 text-dark">Fill in the blank</h6>
                </div>
                <div class="row d-flex">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-floating mb-3">
                            <input type="text" id="new-receiver" class="form-control"
                                   placeholder="inputhere">
                            <label class="text-dark">Receiver</label>

                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-floating mb-3">
                            <input type="phone" id="new-phone" class="form-control"
                                   placeholder="inputhere">
                            <label class="text-dark">Phone number</label>

                        </div>
                    </div>


                </div>
                <div class="row">

                    <div class="col-12">

                        <div class="form-floating mb-3">
                            <input id="new-street" class="form-control" placeholder="inputhere">
                            <label class="text-dark">Đường</label>

                        </div>

                    </div>
                </div>
                <div class="row d-flex">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="form-floating mb-3">
                            <input type="text" id="new-province"
                                   class="form-control province dropdown-toggle"
                                   data-bs-toggle="dropdown" placeholder="inputhere"
                                   oninput="proSearch()">
                            <label class="text-dark">Tỉnh/Thành</label>
                            <ul class="dropdown-menu" id="province_list"></ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="form-floating mb-3">

                            <input type="text" id="new-district"
                                   class="form-control district dropdown-toggle"
                                   data-bs-toggle="dropdown" placeholder="inputhere"
                                   oninput="disSearch()">
                            <label class="text-dark">Quận/Huyện</label>
                            <ul class="dropdown-menu" id="district_list"></ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">

                        <div class="form-floating mb-3">
                            <input type="text" id="new-ward"
                                   class="form-control ward dropdown-toggle"
                                   data-bs-toggle="dropdown" placeholder="inputhere"
                                   oninput="warSearch()">
                            <label class="text-dark">Phường/Xã</label>
                            <ul class="dropdown-menu" id="ward_list"></ul>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary create-new-address">
                        Let's
                        go
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row gutters mt-4">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="text-right">
                {{--
                <button type="button" id="submit" name="submit"
                        class="btn btn-secondary">
                    Cancel
                </button> --}}
                <button type="button" id="submit" name="submit"
                        class="btn btn-primary update-information">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>
@* @elseif(is_null($address))
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6 class="mt-3 mb-2 normal-text fs-2">Delivery address</h6>
                        </div>
                        <div class="row d-flex">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-floating mb-3">
                        <input type="text" id="receiver" class="form-control" placeholder="inputhere">
                        <label>Receiver</label>

                        </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-floating mb-3">
                        <input type="phone" id="phone" class="form-control" placeholder="inputhere">
                        <label>Phone number</label>

                        </div>
                        </div>


                        </div>
                        <div class="row">

                        <div class="col-12">

                        <div class="form-floating mb-3">
                        <input id="street" class="form-control" placeholder="inputhere">
                        <label>Đường</label>

                        </div>

                        </div>
                        </div>
                        <div class="row d-flex">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="form-floating mb-3">
                        <input type="text" id="province" class="form-control province dropdown-toggle"
                        data-bs-toggle="dropdown" placeholder="inputhere" oninput="proSearch()">
                        <label>Tỉnh/Thành</label>
                        <ul class="dropdown-menu" id="province_list"></ul>
                        </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="form-floating mb-3">

                        <input type="text" id="district" class="form-control district dropdown-toggle"
                        data-bs-toggle="dropdown" placeholder="inputhere" oninput="disSearch()">
                        <label>Quận/Huyện</label>
                        <ul class="dropdown-menu" id="district_list"></ul>
                        </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">

                        <div class="form-floating mb-3">
                        <input type="text" id="ward" class="form-control ward dropdown-toggle"
                        data-bs-toggle="dropdown" placeholder="inputhere" oninput="warSearch()">
                        <label>Phường/Xã</label>
                        <ul class="dropdown-menu" id="ward_list"></ul>
                        </div>

                        </div>
                        </div>
                        <div class="row gutters mt-4">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="text-right">

                        <button type="button" id="submit" name="submit"
                        class="btn btn-primary update-new-address">Update</button>
                        </div>
                        </div>
                        </div>
                        @endif *@


</div>
</div>

<div class="card shadow-2-strong mt-4 mb-4 bg-dark text-white"
     style="border-radius: 16px; background-color :white">

    <div class="table-responsive mt-5 mb-5 p-5">
        <table class="table text-white">
            <h3 class="normal-text mb-3">
                Shopping cart
            </h3>
            @* <thead>
                                <tr>
                                    <th scope="col" class="h5">Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead> *@
            <tbody class="items-in-cart">
            @foreach (var item in Model.CheckoutItems)
            {
                <div class="cart-item d-flex justify-content-between align-items-center">

                    <div class="col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center">
                        <img src='~/images/game/@item.Image' class="img-fluid rounded-3" alt="">
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 px-2">
                        
                        <div>
                            <h6>
                                @if(item.Type == 0)
                                {
                                    <span class="badge bg-secondary">Software</span> 
                                }
                                else{
                                    <span class="badge bg-secondary">Disc</span> 
                                }@item.Title
                            </h6>
                                @if (item.Type == 1)
                            {
                                <div class="quantity-input mt-2">
                                    <button class="btn btn-icon text-white"
                                            game-action="change-quantity-minus">
                                        -
                                    </button>
                                    <input type="text" game-input="quantity" value="1">
                                    <button class="btn btn-icon text-white"
                                            game-action="change-quantity-plus">
                                        +
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-1 col-xl-2 d-flex justify-content-center">
                        <h6 class="mb-0">
                            @string.Format(new System.Globalization.CultureInfo(name:
                                "vi-VN"), "{0:C}", item.Price)
                        </h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 ms-3">
                        <a href="#!" class="btn btn-icon btn-outline-danger" game-action="remove-cart"
                           game-target="${
                          item.gameId
                        }">
                            <i class='bx bx-trash-alt'></i>
                        </a>
                    </div>
                </div>
                <hr class="my-4">
            }
            </tbody>
            <tfoot>
            <div class="row justify-content-end">
                <div class="col-1">
                    <h2>Total</h2>
                </div>
                <div class="col-md-3 d-flex justify-content-center total-price-disc">
                    <h2>@totalPriceFormatted</h2>
                </div>
                <div class="col-md-1">

                </div>
            </div>
            </tfoot>
        </table>
    </div>
</div>

<div class="card shadow-2-strong mb-5 mb-lg-0 bg-dark text-white"
     style="border-radius: 16px; background-color: white">
    <div class="card-body m-3 p-3">
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center">


                <h6 class="mb-3 normal-text fs-2 mt-3 me-3">Payment method</h6>

            </div>
            <div class="col-4 d-flex align-items-stretch">
                <div class="card payment-method-item mb-4 shadow-sm w-100" id="1">
                    <div
                        class="payment-method p-3 d-flex justify-content-center align-items-center h-100">
                        <div class="media">
                            <div class="mr-3">
                                <i class="icofont-briefcase icofont-3x"></i>
                            </div>
                            <div class="media-body d-flex flex-column align-items-center">
                                <p class="method-name m-2 text-dark">Banking</p>

                                <p>
                                    <i class="bx bxs-bank fs-3 text-dark"></i>
                                </p>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-4 d-flex align-items-stretch">
                <div class="card payment-method-item mb-4 shadow-sm w-100" id="2">
                    <div
                        class="payment-method p-3 d-flex justify-content-center align-items-center h-100">
                        <div class="media">
                            <div class="mr-3">
                                <i class="icofont-briefcase icofont-3x"></i>
                            </div>
                            <div class="media-body d-flex flex-column align-items-center">
                                <p class="method-name m-2 text-dark">Cash on delivery (COD)</p>

                                <p>
                                    <i class='bx bxs-package fs-3 text-dark'></i>
                                </p>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-4 d-flex align-items-stretch">
                <div class="card payment-method-item mb-4 shadow-sm w-100" id="3">
                    <div
                        class="payment-method p-3 d-flex justify-content-center align-items-center h-100">
                        <div class="media">
                            <div class="mr-3">
                                <i class="icofont-briefcase icofont-3x"></i>
                            </div>
                            <div class="media-body d-flex flex-column align-items-center">
                                <p class="method-name m-2 text-dark">Pay at our store</p>

                                <p>
                                    <i class='bx bxs-store-alt fs-3 text-dark'></i>
                                </p>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-end">
            <div class="col-3 d-flex justify-content-around p-0">

                <button class="btn btn-primary" onclick="window.history.back()">
                    Continue
                    shopping
                </button>
                <button class="btn btn-primary checkout">Complete</button>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
<script src="~/static/js/checkout.js"></script>
@* Import Jquert *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
        $('.checkout').click(function () {
            var address = $('.addresses-item.checked').attr('address')
            var paymentMethod = $('.payment-method-item.checked').attr('id')
            @* console.log(address) *@
            @* console.log(paymentMethod) *@
            $.ajax({
                url: '/order',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    CheckoutViewModel:{
                    SelectedAddress: address,
                    Paymentmethod: paymentMethod,
                }}),
                success: function (data) {
                    console.log(data)
                    window.location.href = `/order/${data.orderId}`
                },
                error: function (data) {
                    console.log(data)
                }
            });
        })
        
        document.querySelector('.cart-button').classList.add('d-none')
        document.querySelectorAll('.card.payment-method-item').forEach(item => {
            item.addEventListener('click', () => {
                SelectMethod(item.getAttribute('id'))
            })
        })
        document.querySelectorAll('.card.addresses-item').forEach(item => {
            item.addEventListener('click', () => {
                SelectAddress(item.getAttribute('address'))
            })
        })
        function SelectMethod(id) {
            let items = document.querySelectorAll(".card.payment-method-item");
            items.forEach((item) => {
                items.forEach((item) => {
                    item.classList.remove("checked");
                });
            });

            let item = $(`.payment-method-item[id='${id}']`);
            let check = item.find('.col-2.text-end')
            check.html(`<i class='bx bxs-check-circle text-dark' ></i>`)
            item.addClass("checked");
        }
        function SelectAddress(id) {
            let items = document.querySelectorAll(".card.addresses-item");
            items.forEach((item) => {
                let check = item.querySelector('.col-2.text-end')
                item.classList.remove("checked");
                if (check) {
                    check.innerHTML = ''
                }

            });

            if ($(`.addresses-item[address='${id}']`).attr('type') === 'modal-item') {
                let item = $(`.addresses-item[address='${id}']`);
                let modalitem = $(`.addresses-item[address='${id}'][type='modal-item']`);
                let check = item.find('.col-2.text-end')
                check.html(`<i class='bx bxs-check-circle text-dark' ></i>`)
                item.addClass("checked");
                let otherAddress = $('.other-address')
                otherAddress.parent().removeClass('bg-white')
                otherAddress.parent().addClass('checked')
                otherAddress.parent().attr('address', id)
                var content = modalitem.find('.media-body')
                otherAddress.find('.media-body')[0].innerHTML = content[0].innerHTML

            } else {
                var nonDefaultAddressesCount = @Model.NonDefaultAddresses.Count;
                let item = $(`.addresses-item[address='${id}']`);
                let modalitem = $(`.addresses-item[address='${id}'][type='modal-item']`);
                let check = item.find('.col-2.text-end')
                check.html(`<i class='bx bxs-check-circle text-dark' ></i>`)
                item.addClass("checked");
                let otherAddress = $('.other-address')
                otherAddress.parent().addClass('bg-white')
                otherAddress.find('.media-body')[0].innerHTML = `
                <p class="other-address-quantity m-2 text-dark">${nonDefaultAddressesCount} address more</p>
                <p><i class='bx bxs-info-circle' style='color:#0f0e0e'></i></p>
                `
            }
        }
    </script>
</section>